*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/.idea
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/.name
/.idea/codeStyles/codeStyleConfig.xml
/app/src/androidTest/java/com/example/torwitharti/ExampleInstrumentedTest.kt
/app/src/test/java/com/example/torwitharti/ExampleUnitTest.kt
/.idea/codeStyles/Project.xml
/app/src/main/res/layout/test.xml
/app/src/main/res/xml/test_scene.xml
