stages:
  - build_image
  - build
  - test
  - publish

variables:
  # When using dind, it's wise to use the overlayfs driver for
  # improved performance.
  DOCKER_DRIVER: overlay

build-docker-image:
  variables:
    TAG: main # non-tag build will be unset, set to 'latest' in script
  stage: build_image
  image:
    name: containers.torproject.org/tpo/tpa/base-images/podman:bookworm
  script:
    - export TMPDIR=$(pwd)/.tmp
    - podman login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - podman build -t ${CI_REGISTRY_IMAGE}:${TAG} .
    - podman push ${CI_REGISTRY_IMAGE}:${TAG}
  when: manual

# Basic android and gradle stuff
# Check linting
lintDebug:
  image : "registry.0xacab.org/leap/tor/tor-vpn:main"
  interruptible: true
  stage: test
  when: always
  script:
    - ./gradlew -Pci --console=plain :app:lintDebug -PbuildDir=lint

# Make Project
assembleDebug:
  image : "registry.0xacab.org/leap/tor/tor-vpn:main"
  interruptible: true
  stage: build
  script:
    - curl -s https://gitlab.com/gitlab-org/incubation-engineering/mobile-devops/download-secure-files/-/raw/main/installer | bash
    - ./gradlew clean assembleDebug --stacktrace
  when: always
  artifacts:
    paths:
      - app/build/outputs/
      - build.log

# Publish apk
publish:
  image: "registry.0xacab.org/leap/docker/debian:bookworm_amd64"
  stage: publish
  # Only run this stage if one of the following rules is true
  rules:
    # Run this job when a tag is created
    - if: $CI_COMMIT_TAG
      variables:
        TAG: "${CI_COMMIT_TAG}"
    # Run this job when commits are pushed or merged to the default branch
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      variables:
        TAG: "main"
  dependencies: 
    - assembleDebug
  script:
    - 'echo "Pushing apk with tag: ${TAG} to gitlab package area"'
    - 'curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file app/build/outputs/apk/debug/app-debug.apk "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/org.torproject.vpn.testing/${TAG}/tor-vpn-debug.apk"'

# Run all tests, if any fails, interrupt the pipeline(fail it)
debugTests:
  image : "registry.0xacab.org/leap/tor/tor-vpn:main"
  interruptible: true
  stage: test
  when: always
  script:
    - ./gradlew -Pci --console=plain :app:testDebug
